$playerWidth: 400px;
$playerHeight: 80px;

.bracket-stage{
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 227, 238);
    width: $playerWidth;
    margin: 10px;
}
.name {
    font-size: 20px;
    padding-left: 10px;
}

.players{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    user-select: none;
}
.pair-player-container {
    height: $playerHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pair {
    width: $playerWidth;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player {
    width: $playerWidth;
    padding-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.173);
}
.player-drag {
    position: absolute;
    pointer-events: none;
    &:active {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.173);
    }
    z-index: 999;
}
.lightened {
    cursor: pointer;
    border: solid 8px rgba(0, 0, 0, 0.377);
}