.bracket-stage{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.name {
    min-width: 200px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.481);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}
.players{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    // padding: 6px;
    background-color: rgba(107, 104, 104, 0.481);

    h1 {
        border-radius: 5px;
        padding: 4px;
        margin: 0;
    }

    h1:nth-child(odd) {
        // margin-top: 150px;
    }

    h1:last-child{
        margin-bottom: 50px;
    }
}