$playerWidth: 620px;
$playerHeight: 80px;
$pairHeight: 200px;
$blockColor: rgba(0, 6, 6, 0.591);

.bracket-stage {
    display: flex;
    height: auto;
    width: 100%;
}
.round-and-players {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.name {
    background-color: $blockColor;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
    height: $playerHeight;
    text-align: center;
    user-select: none;
}

.players{
    width: $playerWidth;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    height: 100%;
}
.pair-player-container {
    height: $playerHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: $blockColor;
}
.pair {
    width: 100%;
    height: $pairHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player {
    width: 100%;
    padding-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.173);
    font-size: 2.0rem;
}
.player-drag {
    width: $playerWidth;
    position: absolute;
    pointer-events: none;
    z-index: 999;
    &:active {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.173);
    }
}
.lightened {
    cursor: pointer;
    border: solid 8px rgba(0, 0, 0, 0.377);
}
.pair-and-stroke {
    display: flex;
    background-color: green;
}
.pair-svg-hor-stroke {
    svg {
        width: 100%;
        height: 100%;
        background-color: rgb(121, 21, 21);
    }
}
.pair-svg-ver-stroke {
    z-index: 990;
    width: 100%;
    margin-top: $playerHeight;
    height: 100%;
    background-color: rgb(77, 12, 255);
    svg {
        position: absolute;
        height: 100%;
        width: 15px;
        background-color: rgb(77, 12, 255);
    }
}