.main-block-container  {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}
.block-container {
    height: 100%;
}
.players-block {
    position: absolute;
    z-index: 995;
    display: flex;
    background-color: rgb(72, 87, 96);
    cursor: grab;
}

.block-slider {
    position: relative;
    z-index: 996;
    width: 200px;
    height: 30px;
}